@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}

body {
  display:grid;
  padding:0;
  overflow:hidden;
}

#stats {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:18vw;
  height:100vh;
  margin:0;
  background:#ddd;
}
.magicBar {width: 100%; background-color: rgb(73, 143, 224);display:block;height:100%;}
.healthBar {width: 100%; background-color: #f44336;display:block;height:100%;}
.bar-container {
  width: 95%;
  height:50px;
  max-height:100px;
  background-color: #ddd;
  margin:4px auto;
  border:3px solid grey;
}
.bars {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size:20px;
  font-weight:bold;
  overflow:visible;
  white-space: nowrap;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#other-stats {
  display:flex;
}

#other-stats div{
  width:33%;
  display: flex;
  height:120px;
  justify-content: center;
  align-items:center;
  justify-content:center;
}
#other-stats div p{
  display:block;
  position: absolute;
  text-align:center;
  font-size:1.5em;
  font-family: 'Varela Round', sans-serif;
  font-weight:bold;
  color:white;
  white-space: nowrap;
  overflow-wrap:break-word;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#other-stats div svg{
  margin:0 auto;
  display:block;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  position:relative;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  height:8vh;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height:92vh;
  position:absolute;
  top:8vh;
  right:0;
  width:82vw;
  background:#d4d4d4;
  animation: fadeEffect 1s;
}
#main-content{
  width:82vw;
  height:100vw;
  position:absolute;
  top:0;
  left:18vw;
}

.darkmode--activated #stats #other-stats #swordSVG, .darkmode--activated #stats #other-stats #shieldSVG, .darkmode--activated #stats #other-stats #coinsSVG {
  mix-blend-mode: difference;
}
.darkmode--activated #stats .magicBar, .darkmode--activated #stats .healthBar{
  mix-blend-mode: difference;
}

#player-items {
  height:95%;
  width:33%;
  margin:2% 0;
  background:#ccc;
  border:6px solid #949494;
  position:relative;
  text-align:center;
}

#player-items div{
  height:64px;
  width:64px;
  background:#ccc;
  border:6px solid #949494;
  position:absolute;
}

#player-items p{
  font-size:1.75em;
  position:absolute;
  top:2%;
  width:33%;
  text-align:center;
  left:33%;
  font-weight:bold;
}

.darkmode--activated #main-content #Player #player-items p {
  color:black;
}

#player-items #head { left:12%; top:12%;background:url("./img/ui/helmet_background.png");background-repeat: no-repeat;background-size: cover;}
#player-items #charm {right:13%; top:13%;background:url("./img/ui/charm-background.png");background-repeat: no-repeat;background-size: cover;}
#player-items #mainhand {left:3%; top:50%;}
#player-items #body {right:4%; top:32%;background:url("./img/ui/body-background.png");background-repeat: no-repeat;background-size: cover;}
#player-items #offhand {right:7%; top:65%;}
#player-items #legs {left:10%; bottom:5%;background:url("./img/ui/legs-background.png");background-repeat: no-repeat;background-size: cover;}

#player-items #head div {margin:0px;border:none;height:100%;width:100%;}
#player-items #charm div {margin:0px;border:none;height:100%;width:100%;}
#player-items #body div {margin:0px;border:none;height:100%;width:100%;}
#player-items #legs div {margin:0px;border:none;height:100%;width:100%;}
#player-items #offhand div {margin:0px;border:none;height:100%;width:100%;}
#player-items #mainhand div {margin:0px;border:none;height:100%;width:100%;}

#inventory {
  height:95%;
  width:60%;
  margin:2% 0;
  background:#ccc;
  border:6px solid #949494;
  position:absolute;
  text-align:center;
  display:block;
  float:right;
  top:0;
  right:2%;
}

#inventoryinfo {
  border-bottom:2px solid #949494;
  height:5%;
}

#bag {
  height:95%;
  width:100%;
  position:relative;
}

#bag #item{
  height:64px;
  width:64px;
  margin:4px;
  background:#ccc;
  border:6px solid #949494;
  display:inline-block;
}

.darkmode--activated #main-content #Player #bag #item img {
  mix-blend-mode: difference;
}